<div class="todos">
    <form (submit)="addTodo()">
        <input type="text" name="inputTodo"
        placeholder="Add todo..."
        class="todo-input"
        [(ngModel)]="inputTodo" />
        <input type="submit" value="Add" class="todo-submit" />
    </form>
    <div class="quantity">
        {{todos.length}} Todos added.
    </div> 
    <div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : !todo.completed && isHide ? 'hide-todo' : 'show-todo') }}" (click)="toggleDone(i)" >
        <div class="id">{{i}}</div>
        <div class="content">{{todo.content}}</div>
        <button (click)="deleteTodo(i)" class="delete">X</button>
    </div>
    <div class="btns-container">
        <button class="category-btn" (click)="showAll()">All</button>
        <button class="category-btn" (click)="filterTodos()">Completed</button>
    </div>
    <div class="no-todos-box" *ngIf="noTodos()">No todos added yet.</div>
</div>